@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    font-family: 'Titillium Web';
}

body{
    background-color: #ddddde;
    margin: 0px;
}

.button{
    background-color: #f05a21;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border-color: transparent;
    margin: 15% 25% -10% 25%;
    padding: 5% 0 5% 0;
    font-family: 'Titillium Web';
    margin-top: 30%;
    font-size: 20px;
}

#knapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo{
    height: 100%;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background:#222b3c;
}

.iconwhite{
    width: 60px;
    height: auto;
    margin: 10px 0 10px 0;
}

.iconorange {
    width: 60px;
    height: auto;
    margin: 10px 0 10px 0;
}


#footerimg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

h1{
    font-family: 'Titillium Web';
    color: #283B42;
    margin: 50px 0 80px 0;
    display: flex;
    justify-content: center;
}

h2{
    color: #283B42;
    margin: 0 0 30px -10px;
    font-size: 20px;
}

#tilbageknap{
    width: 100%;
    height: 30px;
    float: left;
    margin: 12.5px -58% 0 -42%;
}

::placeholder{
    text-align: right;
    opacity: 50%;
    color: #283B42;
    font-family: 'Titillium Web';
    font-size: 20px;
    padding-right: 10px;
}
label{
    font-family: 'Titillium Web';
    color: #283B42;
    font-size: 20px;
    position: absolute;
    margin: 20px 0 0 -10px;
}
input{
    border-radius: 5px;
    color: #283B42;
    border-color: transparent;
    height: 50px;
    width: 100px;
    margin: 10px 0 50px 55%;
    text-align: right;
    cursor: text;
    font-family: 'Titillium Web';
    font-size: 20px;
}
form{
    margin: 50px 0 0 50px;
}

.paklabel{
    position: relative;
    margin-left: 10px;
}

.buttonnaeste{
    background-color: #f05a21;
    color: #ffffff;
    cursor: pointer;
    border-color: transparent;
    font-family: 'Titillium Web';
    font-size: 20px;
    border-radius: 5px;
    padding: 5% 17% 5% 17%;
    margin: 30% 0 0 0;
}
.buttonlink{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
/*_____________ 700px eller under _______________*/
@media only screen and (max-width: 700px){
    #knapper{
        flex-direction: column;
    }
}




/*drop down the container must be positioned relative:*/
.custom-select {
    position: relative;
    margin-left: 23%;
    margin-top: 20%;
    
    
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color:#f05a21;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent #ffffff transparent;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #222b3c;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    
  }

  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: #f05a21;
  }



