/* farver
#283B42 blå
#F05A21 orange
#DDDDDE grå
*/

body{
    background-color: #ddddde;
}

button{
    background-color: #f05a21;
    color: #ffffff;
    border-radius: 5px;
}

#knapper{
    display: flex;
    flex-direction: row;
}

#logo{
    height: 100%;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*_____________ 700px eller under _______________*/
@media only screen and (max-width: 700px){
    #knapper{
        flex-direction: column;
    }
}