/*
Farver:
blå #283B42
orange #F05A21
grå #DDDDDE
*/

body{
    background-color: #ddddde;
}

button{
    background-color: #f05a21;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border-color: transparent;
    margin: 15% 25% -10% 25%;
    padding: 5% 0 5% 0;
}

#knapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo{
    height: 100%;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*_____________ 700px eller under _______________*/
@media only screen and (max-width: 700px){
    #knapper{
        flex-direction: column;
    }
}